<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); -%>

  <body class="bg-img">
  <main class="form-signin w-100 m-auto" id="main-container">
    <form class="text-dark bg-white rounded-3"  id="main-form">
      <h1 class="h3 mb-4 fw-normal text-center fw-bold lh-base">
        Inicio de sesión en cuenta de FWFXX
      </h1>

      <div class="box-input mb-5 ">
        <input type="text" name="" required="" />
        <label>Nombre de usuario</label>
      </div>
      <div class="box-input mb-5">
        <input class="" type="password" name="" required="" />
        <label>Contraseña</label>
      </div>
      <button class="btn btn-green w-100 py-2 fw-bold fs-5 hover-effect" type="submit">
        Iniciar sesión
      </button>
      <div class="text-center mt-4">
        <a href="#" class="link-l">¿Necesita ayuda?</a>
      </div>
    </form>

    <div class="text-dark bg-white mt-5 rounded" id="secondCard">
      <h1 class="h4 mb-3 fw-normal text-center fw-bold">
        ¿No tiene una cuenta ?
      </h1>
      <button class="btn border btn-light border-1 border-dark w-100 py-2 fw-bold" type="submit">
        Crear una cuenta
      </button>
      <div class="text-center mt-3">
        <a href="#" class="link-l fs-7" id="">Condiciones de uso</a>
        <span>|</span>
        <a href="#" class="link-l fs-7" id="">Política de privacidad</a>
      </div>
    </div>
  </main>
</body>
</html>
